:root {
  --x:100;
}

h1 {
  
  width:calc(var(--x) * 1px);
  outline:2px dotted snow;
  overflow: hidden;;
}

.jumbotron {
  max-width: 900px;
  margin: 100px auto;
}

@media screen and (max-width:300px) {
  .jumbotron {
    background-color: olive;
    color: #fff;
  }
}

  @media screen and (min-width:301px) and (max-width:767px){
     .jumbotron {background-color:  rgb(238, 130, 130); color:red;}
  }

